<header>
  <div class="header-wrapper">
    <div class="logo">Michael Woo</div>
    <nav class="links">
      <ul class="nav-menu">
        <li id="github"><a href="https://github.com/ywoo86"><%= image_tag 'GitHub.png' %></a></li>
        <li id="linkedin"><a href="https://www.linkedin.com/in/mywoo"><%= image_tag 'In-Black-34px-R.png' %></a></li>
        <li id="twitter"><a href="https://twitter.com/mwoo_dev"><%= image_tag 'Twitter_Logo_White_On_black.png', class: 'twitter' %></a></li>
        <li id="email"><a href="mailto:michaelwoo0229@gmail.com"><%= image_tag 'close-envelope.png' %></a></li>
      </ul>
    </nav>
  </div>
</header>
