<div class="text-over-image">
  <!-- <div class="translucent"></div> -->
  <div class="api-container">
    <div class="text-wrapper">
      <div class="who-i-am">
        <p>I am a project manager and a full stack web developer.</p>
        <p>I solve problems creatively and analytically.</p>
        <p>And look to solve the next one with you.</p>
      </div>
    </div>
  </div>
</div>
<div id="unsplash-url" data-tag="<%= @image[0]["urls"]["regular"] %>"></div>
