// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  width: 100%;
  margin: 0;
}

header {
  background: #ffffff;
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}

.header-wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 0, 5%;
  text-align: center;
}

.logo {
  float: left;
  border: 0;
  margin: 15px;
  padding: 0;
  text-transform: uppercase;
  font-family: 'Chivo', sans-serif;
  font-size: 35px;
}

.links {
  font-size: 20px;
  text-transform: uppercase;
  float: right;
  padding: 15px 0;
}

.nav-menu {
  float: right;
  margin: 0;
}

.nav-menu li {
  display: inline;
  margin: 0 0 0 20px;
}

.twitter {
  max-height: 32px;
}

// End of Header-based styling

// API image background and text over image styling
// Still having issues with grayscale filtering of image

.text-over-image {
  margin: 0;
  border: 0;
  padding: 0;
  float: left;
  width: 100%;
  text-align: center;
}

.api-container {
  background: teal;
  background-image: url();
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFFFFF;
  margin: 0 auto;
  padding: 100px 0;
  font-size: 30px;
  line-height: 40px;
  max-width: 100%;
  max-height: 300px;
  overflow: hidden;
}

// .translucent {
//   height: 400px;
//   width: 100%;
//   opacity: 0.5;
//   background-color: black;
//   z-index: 2;
// }

p {
  margin: 0 0 15px 0;
  color: #fffff;
  font-family: Verdana;
  z-index: 2;
}

// End of text over image styling

// Portfolio cards styling

.portfolio {
  float: left;
  padding: 20px 0;
  margin: 0 auto;
  border: 0;
  display: block;
}

.card-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.portfolio-card {
  flex: 0 1 auto;
  margin: 0 30px 0 0;
}

.portfolio-card-text{
  margin: 0 25px 25px 25px;
  text-transform: uppercase;
  font-family: Verdana;
}

.image {
  max-width: 300px;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, .25);
  padding: 10px 0;
  // filter: grayscale(100%);
}

.project-link {
  padding: 0;
}

a.project-link {
  text-decoration: none;
  color: rgba(0, 0, 0, .5);
}

a.project-link:hover {
  text-decoration: none;
  color: teal;
}





